<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Lasles</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <!-- Header -->
        <header class="header">
          <a href="#" class="header_logo--link">
            <img
              src="../img/logo.png"
              alt=""
              class="header_logo--image"
            />
            <p class="header_logo--title">Lasles<span>VPN</span></p>
          </a>
          <ul class="header_lists">
            <li class="header_lists--item">
              <a href="#" class="header_list">About</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Features</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Pricing</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Testimonials</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Help</a>
            </li>
          </ul>
          <div class="header-login">
            <a href="#" class="button button--outline">Sign In</a>
            <a href="#" class="button button--danger">Sign Up</a>
          </div>
        </header>
        <!-- Banner -->
        <section class="banner">
          <div class="banner_info">
            <h3 class="banner_info--title">
              Want anything to be easy with Lasles<span>VPN</span>
            </h3>
            <p class="banner_info--desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing
              elit.
            </p>
            <a href="#" class="button button--danger button--started"
              >Get Started</a
            >
          </div>
          <img src="../img/banner1.jpg" alt="" class="banner_image" />
        </section>
        <!-- Info -->
        <section class="info">
          <ul class="info_list">
            <li class="info_list--item">
              <i class="fa fa-user info--icon"></i>
              <p class="info_list--title"><span>90+</span> Users</p>
            </li>
            <li class="info_list--item">
              <i class="fa fa-user info--icon"></i>
              <p class="info_list--title">
                <span>30+</span> Location
              </p>
            </li>
            <li class="info_list--item">
              <i class="fa fa-user info--icon"></i>
              <p class="info_list--title"><span>50+</span> Servers</p>
            </li>
          </ul>
        </section>
        <!-- Features -->
        <section class="feature">
          <img
            src="../img/features.jpg"
            alt="123"
            class="feature_image"
          />
          <div class="feature_info">
            <h3 class="feature_info--title">
              We Provide Many Features You Can Use
            </h3>
            <p class="feature_info--desc">
              You can explore the features that we provide with fun
              and have their own functions each feature.
            </p>
            <ul class="block_lists">
              <li class="block_lists--item">
                <i class="fa fa-check-circle"></i>
                <a href="#" class="block_lists--link"
                  >Powerfull online protection.</a
                >
              </li>
              <li class="block_lists--item">
                <i class="fa fa-check-circle"></i>
                <a href="#" class="block_lists--link"
                  >Internet without borders.</a
                >
              </li>
              <li class="block_lists--item">
                <i class="fa fa-check-circle"></i>
                <a href="#" class="block_lists--link"
                  >Supercharged VPN</a
                >
              </li>
              <li class="block_lists--item">
                <i class="fa fa-check-circle"></i>
                <a href="#" class="block_lists--link"
                  >No specific time limits.</a
                >
              </li>
            </ul>
          </div>
        </section>
        <!-- Plan -->
        <section class="plan">
          <h3 class="plan_title">Choose Your Plan</h3>
          <p class="plan_desc">
            Let's choose the package that is best for you and explore
            it happily and cheerfully.
          </p>
          <div class="plan_lists">
            <div class="plan_lists--item">
              <img src="../img/plan.jpg" alt="" class="plan_image" />
              <h4 class="plan_lists--title">Free Plan</h4>
              <ul class="block_lists">
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Unlimited Bandwitch</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Encrypted Connection</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >No Traffic Logs</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Works on All Devices</a
                  >
                </li>
              </ul>
              <span class="plan_lists--price">Free</span>
              <a href="" class="button button--danger plan--buttton"
                >Select</a
              >
            </div>
            <div class="plan_lists--item">
              <img src="../img/plan.jpg" alt="" class="plan_image" />
              <h4 class="plan_lists--title">Free Plan</h4>
              <ul class="block_lists">
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Unlimited Bandwitch</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Encrypted Connection</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >No Traffic Logs</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Works on All Devices</a
                  >
                </li>
              </ul>
              <span class="plan_lists--price">Free</span>
              <a href="" class="button button--danger plan--buttton"
                >Select</a
              >
            </div>
            <div class="plan_lists--item">
              <img src="../img/plan.jpg" alt="" class="plan_image" />
              <h4 class="plan_lists--title">Free Plan</h4>
              <ul class="block_lists">
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Unlimited Bandwitch</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Encrypted Connection</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >No Traffic Logs</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Works on All Devices</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >No Traffic Logs</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Works on All Devices</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >No Traffic Logs</a
                  >
                </li>
                <li class="block_lists--item">
                  <i class="fa fa-check icon--check"></i>
                  <a href="#" class="block_lists--link"
                    >Works on All Devices</a
                  >
                </li>
              </ul>
              <span class="plan_lists--price">Free</span>
              <a href="" class="button button--danger plan--buttton"
                >Select</a
              >
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
