<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Lasles</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <!-- Header -->
        <header class="header">
          <a href="#" class="header_logo--link">
            <img
              src="../img/logo.png"
              alt=""
              class="header_logo--image"
            />
            <p class="header_logo--title">Lasles<span>VPN</span></p>
          </a>
          <ul class="header_lists">
            <li class="header_lists--item">
              <a href="#" class="header_list">About</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Features</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Pricing</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Testimonials</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Help</a>
            </li>
          </ul>
          <div class="header-login">
            <a href="#" class="button button--outline">Sign In</a>
            <a href="#" class="button button--danger">Sign Up</a>
          </div>
        </header>
        <!-- Banner -->
        <section class="banner">
          <div class="banner_info">
            <h3 class="banner_info--title">
              Want anything to be easy with Lasles<span>VPN</span>
            </h3>
            <p class="banner_info--desc">
              Lorem ipsum dolor, sit amet consectetur adipisicing
              elit.
            </p>
            <a href="#" class="button button--danger button--started"
              >Get Started</a
            >
          </div>
          <img src="../img/banner1.jpg" alt="" class="banner_image" />
        </section>
        <!-- Info -->
        <section class="info">
          <ul class="info_list">
            <li class="info_list--item">
              <i class="fa fa-user info--icon"></i>
              <p class="info_list--title"><span>90+</span> Users</p>
            </li>
            <li class="info_list--item">
              <i class="fa fa-user info--icon"></i>
              <p class="info_list--title">
                <span>30+</span> Location
              </p>
            </li>
            <li class="info_list--item">
              <i class="fa fa-user info--icon"></i>
              <p class="info_list--title"><span>50+</span> Servers</p>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </body>
</html>
