<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Lasles</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header class="header">
          <a href="#" class="header_logo--link">
            <img
              src="../img/logo.png"
              alt=""
              class="header_logo--image"
            />
            <p class="header_logo--title">Lasles<span>VPN</span></p>
          </a>
          <ul class="header_lists">
            <li class="header_lists--item">
              <a href="#" class="header_list">About</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Features</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Pricing</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Testimonials</a>
            </li>
            <li class="header_lists--item">
              <a href="#" class="header_list">Help</a>
            </li>
          </ul>
          <div class="header-login">
            <a href="#" class="button button--outline">Sign In</a>
            <a href="#" class="button button--danger">Sign Up</a>
          </div>
        </header>
      </div>
    </div>
  </body>
</html>
