@import "./variable.scss";

/* sidebar */
* {
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif!important;
}

body {
    background-color: #fafbfe;
}

.sidebar {
    margin-top: 73px;
    overflow-y: auto;
    width: 260px;
    max-height: 100vh;
    background-color: $bg-sidebar;

    &::-webkit-scrollbar {
        width: 8px;
        visibility: hidden;
    }

    &::-webkit-scrollbar-track {
        background: $bg-sidebar;
        visibility: hidden;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $text-sidebar;
        border-radius: 12px;
        border: 2px solid $bg-sidebar;
        visibility: hidden;
    }

    &:hover {
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-thumb {
            visibility: visible;
        }
    }

    &-logo {
        padding: 24px 59px;
        text-align: center;
        position: fixed;
        top: 0;
        width: 260px;
        background-color: $bg-sidebar;

        img {
            height: 22px;
        }
    }

    &-item {

        &__active {
            color: white;
            font-weight: 500;
        }
    }

    &-nav {

        &__link {
            color: $text-sidebar;
            transition: all 0.25s ease-in-out;

            &:hover {
                color: $text-sidebar-hover;
            }

            & > .sidebar-noti {
                display: inline-block;
                padding: 4px 8px;
                font-size: 11.25px;
                color: white;
                background-color: rgb(10, 207, 151);
                line-height: initial;
                border-radius: 8px;
            }
        }

        &__icon > svg {
            color: white;
            min-width: 50px;
            height: 19px;
            display: inline-block;
            margin: 0 auto
        }

        &__icon-more {
            width: 12px;
        }

        &__section {
            padding: 0 20px 0 20px;
        }

        &__item {
            padding: 15px 10px;
        }

        &__first {
            font-size: 15px;
            font-weight: 500;
            line-height: calc(22.5/15);
            flex: auto;
        }

        &__second {
            padding-left: 50px;

            & > li {
                padding: 9px 0;
                transition: all 0.25s ease-in-out;

                &:hover {
                    color: $text-sidebar-hover;
                }
            }
        }
    }
}

.text-sidebar__item {
    color: $text-sidebar;
    font-size: 15px;
    font-weight: 500;
    line-height: calc(22.5/15);
    letter-spacing: normal;
}

.text-sidebar {
    letter-spacing: .05em;
    color: $text-sidebar;
    font-size: 11px;
    line-height: calc(22/15);
    margin: 0 0 16px;
    font-weight: 700;
}



/* for navbar */

/* for main section */

.navbar {
    margin-left: 260px;

    .noti-icon-badge-cus::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 1px;
        border-radius: 50%;
        height: 7px;
        width: 7px;
        background-color: #fa5c7c;
    }
}

.button-toogle-menu {
    padding: 0 36px;

    span {
        padding: 1px 6px;

        & > svg {
            width: 24px;
            height: 36px;
        }
    }
    
}

#menu-btn {
    background-color: #7952b3;
    color: #fff;
}

#menu-btn:focus {
    box-shadow: 0 0 0 0.25rem #7952b344;
}