* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
}

.layout {
  display: grid;
  /* grid-template-columns : column size column size .....*/
  grid-template-columns: 50% 20% 30%;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 40px;
  grid-template-rows: 200px 200px;
  grid-template-rows: auto auto;

  /* gap count : column count - 1 */
  /* grid-gap:row-gap colum-gap */
  /* track line = số cột + 1 */
}
.layout-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 4 columns
  800px
  row1: 350px
  row2: 100px
  row3: 350px
 */
.layout2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 350px 100px 350px;
  grid-gap: 30px;
  padding: 30px;
  grid-template-areas:
    'h1 h1 h2 h3'
    'h4 h5 h2 h3'
    'h4 h5 h6 h6';
}
.layout-item:first-child {
  grid-area: h1;
}
.layout-item:nth-child(2) {
  grid-area: h2;
}
.layout-item:nth-child(3) {
  grid-area: h3;
}
.layout-item:nth-child(4) {
  grid-area: h4;
}
.layout-item:nth-child(5) {
  grid-area: h5;
}
.layout-item:nth-child(6) {
  grid-area: h6;
}
.layout-item {
  border-radius: 10px;
  overflow: hidden;
}
/* grid-column: track-line-start / track-line-end */
/* grid-rows: track-line-start / track-line-end */
/* .layout-item:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.layout-item:nth-child(2),
.layout-item:nth-child(3) {
  grid-row: 1 / span 2;
}
.layout-item:nth-child(4),
.layout-item:nth-child(5) {
  grid-row: 2 / span 2;
}
.layout-item:nth-child(6) {
  grid-column: 3 / span2;
} */

/* grid-template-areas: dúng cho phần tử cha
  grid-area: dúng cho phần tử con

  "h1 h1 h2 h3"
  "h4 h5 h2 h3"
  "h4 h5 h6 h6"
*/

.post-group {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
  grid-template-areas:
    'h1 h2 h3'
    'h1 h4 h5';
  padding: 25px;
}
.post-item:first-child {
  grid-area: h1;
}
.post-item:nth-child(2) {
  grid-area: h2;
}
.post-item:nth-child(2) {
  grid-area: h3;
}
.post-item:nth-child(2) {
  grid-area: h4;
}
.post-item:nth-child(2) {
  grid-area: h5;
}
.post-image {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  height: 200px;
  flex-shrink: 0;
}
.post-content {
  font-weight: 300;
  padding: 25px 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.post-image_large {
  height: auto;
}
.post-item {
  display: flex;
  flex-direction: column;
}
