<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Pandora</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Rubik:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="wrapper">
      <div class="container">
        <!-- Header -->
        <div class="header-hover">
          <header class="header">
            <a href="#" class="header-logo">
              <img
                src="https://file.hstatic.net/200000103143/file/pandora_acf7bd54e6534a07be748b51c51c637c.svg"
                alt=""
              />
            </a>
            <div class="header-feature">
              <form action="#" class="search">
                <div class="form-group form-search">
                  <a
                    href="#"
                    class="button button--outline button--icon"
                  >
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </a>
                  <input
                    id="input-search"
                    class="search-input"
                    type="text"
                    name="search"
                    placeholder="Tìm sản phẩm..."
                    autocomplete="off"
                    id=""
                  />
                  <ul class="search-lists">
                    <li class="search-item">
                      <a href="#" class="search-link">Nhẫn bạc</a>
                    </li>
                    <li class="search-item">
                      <a href="#" class="search-link">Trang sức</a>
                    </li>
                    <li class="search-item">
                      <a href="#" class="search-link">Vòng tay</a>
                    </li>
                  </ul>
                </div>
              </form>
              <div class="header-icon">
                <i class="fa-solid fa-location-dot"></i>
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-cart-shopping"></i
                ><span>1</span>
              </div>
            </div>
          </header>
          <!-- Menu -->
          <div class="menu">
            <ul class="menu-lists">
              <li class="menu-item">
                <a href="#" class="menu-link">
                  <span>SALE</span>
                  <i class="fa-solid fa-sort-down"></i>
                  <!-- CATEGORY ROOT -->
                </a>
                <div class="category-lists">
                  <ul class="category">
                    <li class="category-item">
                      <a href="#" class="category-link"
                        >Sản phẩm giảm giá 40%
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-link">
                  <span>Charms và vòng</span>
                  <i class="fa-solid fa-sort-down"></i>
                  <!-- CATEGORY ROOT -->
                </a>
                <div class="category-lists">
                  <ul class="category">
                    <li class="category-item">
                      <!-- Collecton -->
                      <ul class="collection-lists">
                        <li class="collection-item">
                          <a href="#" class="collection-link">
                            New Collection
                          </a>
                          <!-- collection-link -->
                          <ul class="collection-link--lists">
                            <li class="collection-link--item">
                              <a
                                href="#"
                                class="collection-link--category"
                              >
                                Hàng mới về
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="collection-item">
                          <a href="#" class="collection-link">
                            Pandora Moments
                          </a>
                          <!-- Colection-link -->
                          <ul class="collection-link--lists">
                            <li class="collection-link--item">
                              <a
                                href="#"
                                class="collection-link--category"
                              >
                                Charms
                              </a>
                            </li>
                            <li class="collection-link--item">
                              <a
                                href="#"
                                class="collection-link--category"
                              >
                                Vòng
                              </a>
                            </li>
                            <li class="collection-link--item">
                              <a
                                href="#"
                                class="collection-link--category"
                              >
                                Phụ kiện
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="collection-item">
                          <a href="#" class="collection-link">
                            Pandora Reflexions
                          </a>
                          <ul class="collection-link--lists">
                            <li class="collection-link--item">
                              <a
                                href="#"
                                class="collection-link--category"
                              >
                                Charm Reflexions
                              </a>
                            </li>
                            <li class="collection-link--item">
                              <a
                                href="#"
                                class="collection-link--category"
                              >
                                Vòng Reflexions
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li class="collection-item">
                          <a href="#" class="collection-link">
                            Pandora ME
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-link">
                  <span>Trang sức</span>
                  <i class="fa-solid fa-sort-down"></i>
                  <!-- CATEGORY ROOT -->
                </a>
                <div class="category-lists">
                  <ul class="category">
                    <li class="category-item">
                      <a href="#" class="category-link"
                        >Sản phẩm giảm giá 40%
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-link">
                  <span>Hàng mới</span>
                  <i class="fa-solid fa-sort-down"></i>
                  <!-- CATEGORY ROOT -->
                </a>
                <div class="category-lists">
                  <ul class="category">
                    <li class="category-item">
                      <a href="#" class="category-link"
                        >Sản phẩm giảm giá 40%
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-link">
                  <span>Quà tặng ngày lễ</span>
                  <i class="fa-solid fa-sort-down"></i>
                  <!-- CATEGORY ROOT -->
                </a>
                <div class="category-lists">
                  <ul class="category">
                    <li class="category-item">
                      <a href="#" class="category-link"
                        >Sản phẩm giảm giá 40%
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li class="menu-item">
                <a href="#" class="menu-link">
                  <span>Bộ quà tặng</span>
                  <i class="fa-solid fa-sort-down"></i>
                  <!-- CATEGORY ROOT -->
                </a>
                <div class="category-lists">
                  <ul class="category">
                    <li class="category-item">
                      <a href="#" class="category-link"
                        >Sản phẩm giảm giá 40%
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Product Categories-->
        <section class="categories">
          <h2 class="categories-title">
            Khám phá thế giới trang sức tuyệt mỹ
          </h2>
          <ul class="categories-lists">
            <li class="categories-item">
              <a href="#" class="categories-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item1_1_large.png?v=2624"
                  alt=""
                  class="categories-image"
                />
                <div class="categories-name">
                  <span>Hàng mới về</span>
                </div>
              </a>
            </li>
            <li class="categories-item">
              <a href="#" class="categories-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item1_2_large.png?v=2624"
                  alt=""
                  class="categories-image"
                />
                <div class="categories-name"><span>charms</span></div>
              </a>
            </li>
            <li class="categories-item">
              <a href="#" class="categories-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item1_3_large.png?v=2624"
                  alt=""
                  class="categories-image"
                />
                <div class="categories-name">
                  <span>vòng tay</span>
                </div>
              </a>
            </li>
            <li class="categories-item">
              <a href="#" class="categories-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item1_4_large.png?v=2624"
                  alt=""
                  class="categories-image"
                />
                <div class="categories-name"><span>nhẫn</span></div>
              </a>
            </li>
            <li class="categories-item">
              <a href="#" class="categories-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item1_5_large.png?v=2624"
                  alt=""
                  class="categories-image"
                />
                <div class="categories-name">
                  <span>hoa tai</span>
                </div>
              </a>
            </li>
            <li class="categories-item">
              <a href="#" class="categories-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item1_6_large.png?v=2624"
                  alt=""
                  class="categories-image"
                />
                <div class="categories-name">
                  <span>dây chuyền</span>
                </div>
              </a>
            </li>
          </ul>
        </section>
        <!-- Banner -->
        <section class="banner">
          <div class="banner-image">
            <a href="#" class="button button--outline banner-link">
              <!-- <img
                src="//theme.hstatic.net/200000103143/1000799780/14/new_index_slider_1_grande.jpg?v=2624"
                alt=""
                class="banner-image"
              /> -->
              Mua ngay
            </a>
          </div>

          <div class="banner-image">
            <a href="#" class="button button--outline banner-link">
              <!-- <img
                src="//theme.hstatic.net/200000103143/1000799780/14/new_index_slider_1_grande.jpg?v=2624"
                alt=""
                class="banner-image"
              /> -->
              Mua ngay
            </a>
          </div>
        </section>
        <!-- Product story -->
        <section class="story">
          <ul class="story-lists">
            <li class="story-item">
              <a href="#" class="story-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item2_1_large.png?v=2624"
                  alt=""
                  class="story-image"
                />
                <div class="categories-name">
                  <span>Thiên nhiên</span>
                </div>
              </a>
            </li>
            <li class="story-item">
              <a href="#" class="story-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item2_2_large.png?v=2628"
                  alt=""
                  class="story-image"
                />
                <div class="categories-name">
                  <span>Sinh vật</span>
                </div>
              </a>
            </li>
            <li class="story-item">
              <a href="#" class="story-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item2_3_large.png?v=2628"
                  alt=""
                  class="story-image"
                />
                <div class="categories-name">
                  <span>Sở thích</span>
                </div>
              </a>
            </li>
            <li class="story-item">
              <a href="#" class="story-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item2_4_large.png?v=2628"
                  alt=""
                  class="story-image"
                />
                <div class="categories-name">
                  <span>biển cả</span>
                </div>
              </a>
            </li>
            <li class="story-item">
              <a href="#" class="story-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item2_5_large.png?v=2628"
                  alt=""
                  class="story-image"
                />
                <div class="categories-name">
                  <span>du lịch</span>
                </div>
              </a>
            </li>
            <li class="story-item">
              <a href="#" class="story-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_index_item2_6_large.png?v=2628"
                  alt=""
                  class="story-image"
                />
                <div class="categories-name">
                  <span>Thú cưng</span>
                </div>
              </a>
            </li>
          </ul>
          <div class="story-title">
            <span>CÙNG PANDORA LƯU GIỮ NHỮNG KHOẢNH KHẮC MÙA HÈ</span>
            <h2>CÂU CHUYỆN MÙA HÈ</h2>
            <a href="#" class="button button--dark">xem thêm</a>
          </div>
        </section>
        <!-- Trending -->
        <section class="trend">
          <h2 class="trend-title">Xu hướng</h2>
          <ul class="trend-lists">
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/22.791793c01_v1_6a2deadcfb6a4844b733fcbb9313dc88_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/22.791793c01_v2_664bf5a163974b8aa9d2060f7bce4774_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/23.781909c01_v1_7740815b91b646189d382a2f9a644654_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/23.781909c01_v2_9e230aa76ac44024aec5ac2644157c60_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/9.791694c01_v1_8f1cf9fe88574bf3ba437dbe6671d065_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/9.791694c01_v2_a6589bd575af407aa9a7a8580098ed24_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/28.792025c01_v1_54156af7dc6946429153d7a0ad8557f8_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/28.792025c01_v2_2b7a032dcd104919aa11cccbc86d9897_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/25.792024c01_v1_069d2fa8c5b54e4cba3b3c3b3f7207c5_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/25.792024c01_v2_41cf353d1ba648e3b314405134466970_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/24.792031c01_v1_e6ce6a077d1749629b80ef33530caad2_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/24.792031c01_v2_58840377a8f24513b39310e37aca629d_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/26.792026c01_v1_402a584519d54d64b0c5e04cd9285102_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/26.792026c01_v2_ec051d4ab33b405d9eea30e345fb9a25_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
            <li class="trend-item">
              <a href="#" class="trend-link">
                <i class="fa-solid fa-heart trend-icon"></i>

                <div class="trend-image">
                  <img
                    src="//product.hstatic.net/200000103143/product/27.792030c01_v1_84020368749b42ec961c1193bc035842_large.png"
                    =""
                    class="trend-image--show"
                  />
                  <img
                    src="//product.hstatic.net/200000103143/product/27.792030c01_v2_aa95de9d01c2426fb98b1ba899e81d71_large.png"
                    =""
                    class="trend-image--show"
                  />
                </div>

                <span class="trend-desc"
                  >Lorem ipsum dolor sit amet consectetur adipisicing
                  elit. Blanditiis, accusamus! Recusandae, dolores? Ut
                </span>
                <span class="trend-price">
                  <b>1,650,000₫</b>
                </span>
              </a>
            </li>
          </ul>
        </section>
        <!-- Collection -->
        <section class="collection">
          <h2 class="collection-title">Bộ sưu tập</h2>
          <ul class="collection-lists">
            <li class="collection-item">
              <a href="#" class="collection-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_collec_1_grande.jpg?v=2628"
                  alt=""
                  class="collection-image"
                />
                <h2 class="collection-link_title">Pandora moments</h2>
                <span class="collection-link_desc">
                  Khẳng định dấu ấn cá nhân riêng bạn thông qua những
                  thiết kế tinh tế đầy ấn tượng
                </span>
                <a
                  href="#"
                  class="button button--dark collection-button"
                  >Mua thêm</a
                >
              </a>
            </li>
            <li class="collection-item">
              <a href="#" class="collection-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_collec_2_grande.jpg?v=2628"
                  alt=""
                  class="collection-image"
                />
                <h2 class="collection-link_title">
                  Disney x Pandora Pixar
                </h2>
                <span class="collection-link_desc">
                  Khám phá thế giới hoạt hình Pixar đầy thú vị của
                  Disney
                </span>
                <a
                  href="#"
                  class="button button--dark collection-button"
                  >Mua thêm</a
                >
              </a>
            </li>
            <li class="collection-item">
              <a href="#" class="collection-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_collec_3_grande.jpg?v=2628"
                  alt=""
                  class="collection-image"
                />
                <h2 class="collection-link_title">Pandora Me</h2>
                <span class="collection-link_desc">
                  Đại diện cho quyền năng và mang tính biểu tượng dành
                  cho thế hệ Z (Gen Z)
                </span>
                <a
                  href="#"
                  class="button button--dark collection-button"
                  >Mua thêm</a
                >
              </a>
            </li>
            <li class="collection-item">
              <a href="#" class="collection-link">
                <img
                  src="//theme.hstatic.net/200000103143/1000799780/14/new_collec_4_grande.jpg?v=2628"
                  alt=""
                  class="collection-image"
                />
                <h2 class="collection-link_title">Lilo & Stitch</h2>
                <span class="collection-link_desc">
                  Lưu giữ cả thế giới tuổi thơ diệu kì trên những
                  thiết kế sáng tạo và tươi vui
                </span>
                <a href="#" class="button button--dark">Mua thêm</a>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>

    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-1.11.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="../js/app.js"></script>
  </body>
</html>
