<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Pandora</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Poppins:ital,wght@0,100;0,200;1,100&family=Rubik:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="wrapper">
      <div class="container">
        <!-- Header -->
        <header class="header">
          <a href="#" class="header-logo">
            <img
              src="https://file.hstatic.net/200000103143/file/pandora_acf7bd54e6534a07be748b51c51c637c.svg"
              alt=""
            />
          </a>
          <div class="header-feature">
            <form action="#" class="search">
              <div class="form-group form-search">
                <input
                  type="text"
                  name="search"
                  placeholder="Tìm sản phẩm..."
                  autocomplete="off"
                  id=""
                />
                <a
                  href="#"
                  class="button button--outline button--icon"
                >
                  <i class="fa-solid fa-magnifying-glass"></i>
                </a>
              </div>
            </form>
            <div class="header-icon">
              <i class="fa-solid fa-location-dot"></i>
              <i class="fa-solid fa-user"></i>
              <i class="fa-solid fa-cart-shopping"></i><span>1</span>
            </div>
          </div>
        </header>
        <!-- Menu -->
        <div class="menu">
          <ul class="menu-lists">
            <li class="menu-item">
              <a href="#" class="menu-link">
                <span>SALE</span>
                <i class="fa-solid fa-sort-down"></i>
                <!-- CATEGORY ROOT -->
              </a>
              <ul class="category">
                <li class="category-item">
                  <a href="#" class="category-link"
                    >Sản phẩm giảm giá 40%
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
