.client {
  padding-bottom: 175px;
  &-list {
    display: flex;
    padding-bottom: 60px;
    // justify-content: space-between;
    &_item {
      // width: calc(33.33% - 46.67px);
      flex-grow: 1;
      flex-basis: 0;
      padding: 45px 25px;
      border: 1px solid #eee;
      border-radius: 20px;
      text-align: center;
      &:hover {
        border-color: transparent;
        box-shadow: 0 0 50px 10px rgba(#000000, 0.05);
      }
    }
    &_item:not(:first-child) {
      margin-left: 70px;
    }
  }
  &-image {
    width: 120px;
    height: 120px;
    border-radius: 100rem;
    object-fit: cover;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  &-name {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
  }
  &-position {
    color: $gray;
    font-size: 14px;
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  &-content {
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    margin-bottom: 30px;
  }
  &-rate {
    display: flex;
    justify-content: center;
    i {
      margin: 0 5px;
      color: $yellow;
      font-size: 20px;
    }
  }
}
// slick
.icon-prevArrow,
.icon-nextArrow {
  color: $primary-color;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-top: 100px;
  cursor: pointer;
}
.icon-prevArrow {
  transform: translateX(-50px);
}
.slick-slider button {
  border: none;
  background-color: white;
}
