.footer {
  padding: 102px 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  &-heading {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
  }
  &-link {
    color: $gray-dark;
    display: block;
    font-size: 14px;
    &-item {
      margin-bottom: 25px;
    }
  }
  &-desc {
    margin: 40px 0 50px 15px;
    max-width: 250;
  }
}
.social {
  display: inline-flex;
  &-link {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    margin-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: white;
  }
  &-link:not(:first-child) {
    margin-left: 25px;
  }
}
.logo {
  display: inline-block;
}
