* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: $gray-dark;
}
section[id] {
  scroll-margin-top: 30px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  display: block;
}

//
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1211px;
  padding: 0 15px;
  margin: 0 auto;
}
//button
.button {
  display: inline-block;
  padding: 20px 45px;
  color: $gray-dark;
  background-color: transparent;
  border-radius: 10px;
  line-height: normal;
  outline: none;
  transition: all 0.2s linear;
  font-weight: 700;
  &--primary {
    background-color: $primary-color;
    color: white;
  }
  &--outline {
    border: 1px solid;
    color: $gray-blur;
  }
}
.block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 85px;
  text-align: center;

  &-caption {
    color: $gray-blur;
    position: relative;
    display: inline-block;
    padding: 0 5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    &::before {
      left: 0;
      transform: translate(-100%, -50%);
    }
    &::after {
      right: 0;
      transform: translate(100%, -50%);
    }
    // all
    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $primary-color;
      width: 20px;
      height: 1px;
      top: 50%;
    }
  }

  // left
  &-caption_left {
    padding-left: 40px;
    &::before {
      transform: none;
      width: 30px;
      top: 50%;
    }
    &::after {
      display: none;
    }
  }

  //center
  &-caption_center {
    &::before {
      width: 30px;
      margin-left: -10px;
    }
    &::after {
      width: 30px;
      margin-right: -10px;
    }
  }
  &-heading {
    // text-transform: uppercase;
    font-size: 50px;
    line-height: 1.4;
    font-weight: 600;
    span {
      display: block;
    }
  }
}
.text {
  line-height: 1.5;
  font-weight: 300;
  color: $gray;
}
.bg {
  &-google {
    background-color: #ff7979;
  }
  &-twitter {
    background-color: #79afff;
  }
  &-instagram {
    background-color: #ffb979;
  }
}
@media screen and (max-width: 767px) {
  .button {
    padding: 13px 15px;
  }
  .block {
    margin-bottom: 50px;
    &-heading {
      font-size: 30px;
      span {
        display: unset;
      }
    }
    &-caption {
      margin-bottom: 20px;
    }
  }
}
