.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  &-logo_image {
    margin-right: 70px;
  }
  &-menu {
    list-style: none;
    display: flex;
    align-items: center;
    &_item {
      margin-left: 72px;
    }
    &_link {
      color: $gray-dark;
      font-weight: bold;
      transition: all 0.25s ease-in-out;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .menu-toggle {
    display: none;
  }
  &-auth {
    margin-left: auto;
  }
}

@media screen and (max-width: 1279px) {
  .header {
    &-logo_image {
      margin-right: 0;
    }
    &-menu {
      margin: 0 auto;
    }
    &-auth {
      margin-left: 0;
    }
  }
}
@media screen and (max-width: 1023px) {
  .header {
    &-menu {
      display: none;
    }
    &-auth {
      margin-left: auto;
    }
    .menu-toggle {
      display: unset;
    }
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding-top: 20px;
    &-logo {
      max-width: 90px;
    }
  }
}
