<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Zulu LandingPage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <header class="header">
          <!-- Header-logo -->
          <a href="index.html" class="header-logo_image">
            <img src="../img/logo.png" alt="123" />
          </a>
          <!-- Header-menu -->
          <ul class="header-menu">
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">Home</a>
            </li>
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">Product</a>
            </li>
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">Pricing</a>
            </li>
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">About</a>
            </li>
          </ul>
          <!-- Header-auth -->
          <div class="header-auth">
            <a href="#" class="button">Login</a>
            <a href="#" class="button button--primary">Sing Up</a>
          </div>
        </header>
        <!-- Banner -->
        <section class="banner">
          <div class="banner-info">
            <h1 class="banner-heading">
              <span>Make a</span> <span>big impact</span>
              <span>with exciting</span> videos
            </h1>
            <p class="banner-desc">
              Lorem ipsum dolor sit amet consectetur, adipisicing
              elit. Repellendus omnis laboriosam incidunt est itaque
            </p>
            <div class="banner-links">
              <a href="#" class="button button--primary"
                >Get Started</a
              >
              <a href="#" class="button button--outline"
                >How it work</a
              >
            </div>
          </div>
          <img src="../img/banner.png" alt="" class="banner-image" />
        </section>
        <!-- Work -->
        <section class="work">
          <div class="block">
            <span class="block-caption"> Walk-Through </span>
            <h2 class="block-heading">
              <span>How does </span><span>Zulu work ?</span>
            </h2>
          </div>
          <div class="work-list">
            <div class="work-item">
              <img
                src="../img/img-work1.png"
                alt=""
                class="work-image"
              />
              <h3 class="work-title">
                Offer the best viewing experience.
              </h3>
              <p class="work-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Vitae explicabo dolore aliquam, illo et
                distinctio maiores laboriosam dolorem! Illo quos id
                possimus deserunt facere provident architecto
                voluptate perferendis asperiores tempora?
              </p>
              <a href="#" class="button button--outline"
                >Learn more</a
              >
            </div>
            <div class="work-item">
              <img
                src="../img/img-work2.png"
                alt=""
                class="work-image"
              />
              <h3 class="work-title">
                Offer the best viewing experience.
              </h3>
              <p class="work-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Vitae explicabo dolore aliquam, illo et
                distinctio maiores laboriosam dolorem! Illo quos id
                possimus deserunt facere provident architecto
                voluptate perferendis asperiores tempora?
              </p>
              <a href="#" class="button button--outline"
                >Learn more</a
              >
            </div>
            <div class="work-item">
              <img
                src="../img/img-work3.png"
                alt=""
                class="work-image"
              />
              <h3 class="work-title">
                Offer the best viewing experience.
              </h3>
              <p class="work-desc">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Vitae explicabo dolore aliquam, illo et
                distinctio maiores laboriosam dolorem! Illo quos id
                possimus deserunt facere provident architecto
                voluptate perferendis asperiores tempora?
              </p>
              <a href="#" class="button button--outline"
                >Learn more</a
              >
            </div>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
