<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Zulu LandingPage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <!-- Header -->
        <header class="header">
          <!-- Header-logo -->
          <a href="index.html" class="header-logo_image">
            <img src="../img/logo.png" alt="123" />
          </a>
          <!-- Header-menu -->
          <ul class="header-menu">
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">Home</a>
            </li>
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">Product</a>
            </li>
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">Pricing</a>
            </li>
            <li class="header-menu_item">
              <a href="#" class="header-menu_link">About</a>
            </li>
          </ul>
          <!-- Header-auth -->
          <div class="header-auth">
            <a href="#" class="button">Login</a>
            <a href="#" class="button button--primary">Sing Up</a>
          </div>
        </header>
        <!-- Banner -->
        <section class="banner">
          <div class="banner-info">
            <h1 class="banner-heading">
              <span>Make a</span> <span>big impact</span>
              <span>with exciting</span> videos
            </h1>
            <p class="banner-desc text">
              Lorem ipsum dolor sit amet consectetur, adipisicing
              elit. Repellendus omnis laboriosam incidunt est itaque
            </p>
            <div class="banner-links">
              <a href="#" class="button button--primary"
                >Get Started</a
              >
              <a href="#" class="button button--outline"
                >How it work</a
              >
            </div>
          </div>
          <img src="../img/banner.png" alt="" class="banner-image" />
        </section>

        <!-- Work -->
        <section class="work">
          <div class="block">
            <span class="block-caption"> Walk-Through </span>
            <h2 class="block-heading">
              <span>How does </span><span>Zulu work ?</span>
            </h2>
          </div>
          <div class="work-list">
            <!-- 70*2(cột)=140; 140/3 (khoảng trống)= 46.47 -->
            <div class="work-item">
              <img
                src="../img/img-work1.png"
                alt=""
                class="work-image"
              />
              <h3 class="work-title">
                Offer the best viewing experience.
              </h3>
              <p class="work-desc text">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Vitae explicabo dolore aliquam, illo et
                distinctio maiores laboriosam dolorem! Illo quos id
                possimus deserunt facere provident architecto
                voluptate perferendis asperiores tempora?
              </p>
              <a href="#" class="button button--outline work-more"
                >Learn more</a
              >
            </div>
            <div class="work-item">
              <img
                src="../img/img-work2.png"
                alt=""
                class="work-image"
              />
              <h3 class="work-title">
                Offer the best viewing experience.
              </h3>
              <p class="work-desc text">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Vitae explicabo dolore aliquam, illo et
                distinctio maiores laboriosam dolorem! Illo quos id
                possimus deserunt facere provident architecto
                voluptate perferendis asperiores tempora?
              </p>
              <a href="#" class="button button--outline work-more"
                >Learn more</a
              >
            </div>
            <div class="work-item">
              <img
                src="../img/img-work3.png"
                alt=""
                class="work-image"
              />
              <h3 class="work-title">
                Offer the best viewing experience.
              </h3>
              <p class="work-desc text">
                Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Vitae explicabo dolore aliquam, illo et
                distinctio maiores laboriosam dolorem! Illo quos id
                possimus deserunt facere provident architecto
                voluptate perferendis asperiores tempora?
              </p>
              <a href="#" class="button button--outline work-more"
                >Learn more</a
              >
            </div>
          </div>
        </section>

        <!-- Intro -->
        <section class="intro">
          <div class="intro-content">
            <span class="block-caption block-caption_left">
              Zulu Studio
            </span>
            <h2 class="block-heading">
              <span>From our </span><span>studio to your</span> screen
            </h2>
            <p class="text intro-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing
              elit. Cum commodi impedit velit unde id nihil ad modi,
              cupiditate tempora voluptatibus labore recusandae
              temporibus distinctio sapiente asperiores soluta aut
              laudantium. Laudantium.
            </p>
            <div class="intro-link">
              <a href="#" class="button button--primary"
                >Explore more</a
              >
            </div>
          </div>
          <img
            src="../img/img-intro.png"
            alt=""
            class="intro-image"
          />
        </section>

        <!--Plan  -->
        <section class="plan">
          <div class="block">
            <span class="block-caption block-caption_center">
              Pricing
            </span>
            <h2 class="block-heading">
              <span>Select the </span><span>perfect plan</span>
            </h2>
          </div>
          <ul class="plan-list">
            <li class="plan-item">
              <h3 class="plan-name">Basic</h3>
              <h4 class="plan-price">
                <sup class="plan-price_symbol">$</sup>
                <span class="plan-price_month">9</span>
                <span>/Month</span>
              </h4>
              <p class="plan-desc text">
                Beautifully simple project planning
              </p>
              <h4 class="plan-feature">Feature</h4>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <a href="#" class="button button--outline plan-start"
                >Start now</a
              >
            </li>
            <li class="plan-item">
              <div class="plan-label">most popular</div>
              <h3 class="plan-name">Premium</h3>
              <h4 class="plan-price">
                <sup class="plan-price_symbol">$</sup>
                <span class="plan-price_month">49</span>
                <span>/Month</span>
              </h4>
              <p class="plan-desc text">
                Beautifully simple project planning
              </p>
              <h4 class="plan-feature">Feature</h4>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <a href="#" class="button button--outline plan-start"
                >Start now</a
              >
            </li>
            <li class="plan-item">
              <h3 class="plan-name">Business</h3>
              <h4 class="plan-price">
                <sup class="plan-price_symbol">$</sup>
                <span class="plan-price_month">29</span>
                <span>/Month</span>
              </h4>
              <p class="plan-desc text">
                Beautifully simple project planning
              </p>
              <h4 class="plan-feature">Feature</h4>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <div class="plan-feature_item">
                <i class="fa fa-check-circle plan-feature_icon"> </i>
                <span class="plan-feature_title">
                  7 HD720 videos per month
                </span>
              </div>
              <a href="#" class="button button--outline plan-start"
                >Start now</a
              >
            </li>
          </ul>
        </section>

        <!-- Client -->
        <section class="client">
          <div class="block">
            <span class="block-caption block-caption_center">
              What people say
            </span>
            <h2 class="block-heading">
              <span>Our honorable </span><span>clients</span>
            </h2>
          </div>
          <div class="client-list">
            <div class="client-list_item">
              <img
                src="https://source.unsplash.com/random"
                alt=""
                class="client-image"
              />
              <h3 class="client-name">Edwin Reyes</h3>
              <p class="client-position">Businessman</p>
              <p class="client-content text">
                "Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Nobis saepe dolores reprehenderit deleniti
                assumenda non aperiam."
              </p>
              <div class="client-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
              </div>
            </div>
            <div class="client-list_item">
              <img
                src="https://source.unsplash.com/random"
                alt=""
                class="client-image"
              />
              <h3 class="client-name">Edwin Reyes</h3>
              <p class="client-position">Businessman</p>
              <p class="client-content text">
                "Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Nobis saepe dolores reprehenderit deleniti
                assumenda non aperiam."
              </p>
              <div class="client-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
              </div>
            </div>
            <div class="client-list_item">
              <img
                src="https://source.unsplash.com/random"
                alt=""
                class="client-image"
              />
              <h3 class="client-name">Edwin Reyes</h3>
              <p class="client-position">Businessman</p>
              <p class="client-content text">
                "Lorem ipsum dolor sit, amet consectetur adipisicing
                elit. Nobis saepe dolores reprehenderit deleniti
                assumenda non aperiam."
              </p>
              <div class="client-rate">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </section>

        <!-- Started -->
        <section class="started">
          <img
            src="../img/started1.png"
            alt=""
            class="started-comment"
          />
          <img
            src="../img/started2.png"
            alt=""
            class="started-smile"
          />
          <span class="block-caption started-caption">
            Zulu Studio
          </span>
          <h2 class="block-heading started-heading">
            <span>Get started with </span><span>Zulu today</span>
          </h2>
          <p class="text started-desc">
            Let's work together to create fantasic product
          </p>
          <a href="" class="button button--primary">Get Started</a>
        </section>
        <!-- Footer -->

        <footer class="footer">
          <div class="footer-column">
            <a href="index.html" class="logo">
              <img
                src="../img/logo.png"
                alt="123"
                class="logo_image"
              />
            </a>
            <p class="text footer-desc">
              Let's work together to create fantasic product
            </p>
            <div class="social">
              <a href="#" class="social-link bg-google">
                <i class="fa-brands fa-google"></i>
              </a>
              <a href="#" class="social-link bg-twitter">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="#" class="social-link bg-instagram">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </div>
          </div>
          <div class="footer-column">
            <h3 class="footer-heading">Product</h3>
            <ul class="footer-links">
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
            </ul>
          </div>
          <div class="footer-column">
            <h3 class="footer-heading">Product</h3>
            <ul class="footer-links">
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
            </ul>
          </div>
          <div class="footer-column">
            <h3 class="footer-heading">Product</h3>
            <ul class="footer-links">
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
              <li class="footer-link-item">
                <a href="#" class="footer-link">LandingPage</a>
              </li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
    <div class="test"></div>
  </body>
</html>
