* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: #27251f;
}

section[id] {
  scroll-margin-top: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1903px;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

.button {
  padding: 13px 27px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
}
.button--outline {
  background-color: white;
}
.button--dark {
  background-color: #27251f;
  color: white;
}

.categories-name {
  text-align: center;
}
.categories-name span {
  display: inline-block;
  padding: 11px 0 25px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 400;
  color: #27251f;
  position: relative;
}
.categories-name span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  border: 1px solid #fbcad4;
}

.header {
  padding: 20px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-hover {
  position: fixed;
  background: white;
  top: 0;
  left: 0px;
  right: 0px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 10px 15px;
  z-index: 99;
}
.header-logo img {
  max-width: 170px;
  max-height: 35px;
}
.header-feature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-feature input {
  padding: 10px 20px 10px 45px;
  border: 1px solid #ededed;
  outline: none;
}
.header-feature input::placeholder {
  opacity: 0.5;
}
.header-feature .button--icon {
  position: absolute;
  left: 0;
  font-size: 14px;
  padding: 10px 14px;
  color: #27251f;
  opacity: 0.7;
  border: 1px solid #ededed;
  border-right: none;
  z-index: 1;
}
.header-icon {
  font-size: 20px;
  margin-left: 40px;
  color: #ffa0c8;
  cursor: pointer;
}
.header-icon i:not(:first-child) {
  margin-left: 25px;
}
.header-icon span {
  padding-left: 5px;
}

.form-search {
  position: relative;
}

.search-input:focus ~ .search-lists {
  display: block;
  top: 37px;
}
.search-lists {
  width: 100%;
  padding: 14px 70px 10px 47px;
  margin-top: 2px;
  background-color: #ededed;
  left: 0;
  position: absolute;
  z-index: 2;
  display: none;
}
.search-item {
  padding-bottom: 10px;
}
.search-link {
  color: #27251f;
}

.bg-white {
  background-color: white;
}

.bg-trans {
  background-color: transparent;
}

.hide {
  display: none !important;
}

.bg-white {
  background-color: transparent;
}

.menu {
  padding-top: 25px;
  font-size: 13px;
  color: #27251f;
  position: relative;
}
.menu-lists {
  display: flex;
  align-items: center;
}
.menu-item i {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  color: #ffa0c8;
  transform: translateY(-25%);
}
.menu-item:hover i {
  transform: rotate(180deg);
}
.menu-item:hover .category-lists {
  display: block;
  z-index: 100;
}
.menu-item:hover .menu-link span::before {
  content: "";
  width: 75%;
  position: absolute;
  border-top: 2px solid #ffa0c8;
  margin-top: 5px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.menu-item:not(:first-child) {
  margin-left: 20px;
}
.menu-link {
  text-transform: uppercase;
  font-weight: 600;
  color: #27251f;
  padding-bottom: 15px;
}
.menu-link span {
  position: relative;
}

.category {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.category-link {
  font-size: 14px;
  font-weight: 500;
  color: #27251f;
}
.category-item {
  margin-top: 15px;
  padding: 30px 10px;
  background-color: #f5f5f5;
}
.category-lists {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
}

.header-hover:hover .menu::before {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 4px solid #ffa0c8;
  left: 0;
  top: 0;
}

.collection-lists {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.collection-item {
  display: flex;
  flex-direction: column;
}
.collection-link--lists {
  margin-bottom: auto;
}
.collection-link {
  font-weight: 600;
  display: inline-block;
}
.collection-link--item, .collection-link {
  padding-bottom: 18px;
  color: #27251f;
}
.collection-link--category {
  color: #27251f;
}

.categories {
  padding-top: 145px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}
.categories-title {
  max-width: 300px;
  margin-left: 86px;
}
.categories-lists {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 68px;
}
.categories-item {
  border: 1px solid rgba(39, 37, 31, 0.1882352941);
  max-width: 130px;
}

.banner {
  padding-bottom: 60px;
}
.banner-image {
  background-image: url(//theme.hstatic.net/200000103143/1000799780/14/new_index_slider_1_grande.jpg?v=2624);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  object-fit: contain;
  position: relative;
}

.slick-track .banner-image {
  height: 700px;
  cursor: pointer;
}
.slick-track .banner-link {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.story {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 46px;
}
.story-lists {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 22px;
}
.story-item {
  border: 1px solid rgba(39, 37, 31, 0.1882352941);
}
.story-item:hover .categories-name span::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
  border: 1px solid #ffa0c8;
}
.story-item:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.story-title {
  padding-left: 40px;
}
.story-title span {
  display: block;
  color: #27251f;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 25px;
}
.story-title h2 {
  padding-bottom: 30px;
}

.trend {
  padding-bottom: 150px;
}
.trend-title {
  padding-left: 80px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.trend-icon {
  padding: 15px;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  font-size: 23px;
  color: #27251f;
}
.trend-lists:hover .trend-next {
  visibility: visible;
}
.trend-lists:hover .trend-prev {
  z-index: 1;
}
.trend-item {
  max-width: 270px;
  margin-left: 5px;
  border: 1px solid rgba(39, 37, 31, 0.1882352941);
  position: relative;
}
.trend-item::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(167, 164, 156, 0.19);
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 3;
}
.trend-item:hover .trend-icon {
  z-index: 4;
  cursor: pointer;
}
.trend-item:hover .trend-image--show:last-child {
  visibility: visible;
}
.trend-item:hover .trend-image::before {
  visibility: visible;
}
.trend-item:hover::before {
  visibility: visible;
}
.trend-item:hover .trend-prev {
  visibility: visible;
}
.trend-image {
  position: relative;
}
.trend-image::before {
  content: "MUA NGAY";
  position: absolute;
  display: inline-block;
  z-index: 4;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: #212121;
  color: #fff;
  padding: 7px 25px 5px;
  font-weight: 500;
  font-size: 12px;
  visibility: hidden;
  opacity: 1;
  border: none;
}
.trend-image--show:last-child {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #f5f5f5;
  z-index: 1;
}
.trend-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  transition: all 0.2s ease-in-out;
}
.trend-desc {
  display: block;
  text-align: center;
  margin: 40px 0 10px;
  color: #27251f;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5;
}
.trend-price {
  font-size: 14px;
  color: #27251f;
  padding-bottom: 20px;
}

.trend-prev {
  cursor: pointer;
  font-size: 18px;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: white;
  border: none;
  position: absolute;
  top: 50%;
  left: 10px;
  bottom: 33px;
  transform: translateY(calc(-50% - 30px));
  z-index: 0;
}
.trend-next {
  cursor: pointer;
  font-size: 18px;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: white;
  border: none;
  position: absolute;
  top: 50%;
  right: 10px;
  bottom: 33px;
  transform: translateY(calc(-50% - 30px));
  visibility: hidden;
}

.slick-dots {
  display: flex !important;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  gap: 0 15px;
  transform: translateY(50%);
}
.slick-dots button {
  font-size: 0;
  background-color: rgba(39, 37, 31, 0.1882352941);
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  transition: all 0.2s linear;
  border: none;
  cursor: pointer;
}
.slick-dots .slick-active button {
  background-color: #27251f;
}

.collection {
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 60px;
}
.collection-title {
  text-align: center;
  padding-bottom: 20px;
}
.collection-lists {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 20px;
}
.collection-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.collection-link_title {
  padding: 20px 0 25px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
.collection-link_desc {
  font-size: 16px;
  display: inline-block;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  line-height: 1.5;
  font-weight: 400;
}

.treatment {
  padding: 100px 0;
  text-align: center;
  max-width: 1440px;
  max-height: 287px;
  margin: 0 auto;
  border: 5px solid #fbcad4;
}
.treatment-content {
  margin-bottom: 60px;
}
.treatment-content h1 {
  padding-bottom: 35px;
}
.treatment-content a {
  color: #27251f;
  font-size: 16px;
}
.treatment-prev {
  cursor: pointer;
  font-size: 18px;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  border: 1px solid rgba(39, 37, 31, 0.1882352941);
  background-color: white;
  left: 0;
  top: 50%;
  transform: translate(-150%, -50%);
  position: absolute;
}
.treatment-next {
  cursor: pointer;
  font-size: 18px;
  border-radius: 25px;
  height: 50px;
  width: 50px;
  background-color: white;
  border: 1px solid rgba(39, 37, 31, 0.1882352941);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(150%, -50%);
}

.footer {
  margin-top: 60px;
  padding-top: 65px;
  background-color: #f5f5f5;
}
.footer-email {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-email_lists {
  display: flex;
  align-items: center;
}
.footer-email_item {
  margin-right: 20px;
}
.footer-email_link {
  font-size: 20px;
  color: #27251f;
}
.footer-letter_desc {
  font-size: 14px;
  padding: 15px 0;
}
.footer-letter_input {
  position: relative;
}
.footer-letter input {
  width: 100%;
  padding: 15px;
  outline: none;
}
.footer-letter i {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 14px 25px;
  position: absolute;
  right: 0;
  top: 0;
}
.footer-introduce {
  padding-top: 78px;
}
.footer-introduce_lists {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0 120px;
}
.footer-introduce_item {
  display: flex;
  flex-direction: column;
}
.footer-introduce_link {
  color: #27251f;
  padding-bottom: 10px;
  font-size: 12px;
}
.footer-introduce_link h4 {
  padding-bottom: 10px;
}
.footer-copyright {
  font-size: 13px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
