* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
  color: #27251f;
}

section[id] {
  scroll-margin-top: 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.wrapper {
  max-width: 1903px;
  margin: 0 auto;
}

.container {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  padding: 20px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img {
  max-width: 170px;
  max-height: 35px;
}
.header-feature {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-feature input {
  padding: 10px 20px 10px 45px;
  border: 1px solid #ededed;
  outline: none;
}
.header-feature input::placeholder {
  opacity: 0.5;
}
.header-feature .button--icon {
  position: absolute;
  left: 0;
  font-size: 14px;
  padding: 12px 14px;
  color: #27251f;
  opacity: 0.7;
}
.header-icon {
  font-size: 20px;
  margin-left: 40px;
  color: #ffa0c8;
  cursor: pointer;
}
.header-icon i:not(:first-child) {
  margin-left: 25px;
}
.header-icon span {
  padding-left: 5px;
}

.menu {
  padding-top: 25px;
  font-size: 13px;
  color: #27251f;
  position: relative;
}
.menu-lists {
  display: flex;
  align-items: center;
}
.menu-item i {
  margin-left: 5px;
  width: 10px;
  height: 10px;
  color: #ffa0c8;
  transform: translateY(-25%);
}
.menu-item:hover i {
  transform: rotate(180deg);
}
.menu-item:hover .category-lists {
  display: block;
  z-index: 100;
}
.menu-item:hover .menu-link span::before {
  content: "";
  width: 75%;
  position: absolute;
  border-top: 2px solid #ffa0c8;
  margin-top: 5px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}
.menu-item:not(:first-child) {
  margin-left: 20px;
}
.menu-link {
  text-transform: uppercase;
  font-weight: 600;
  color: #27251f;
  padding-bottom: 15px;
}
.menu-link span {
  position: relative;
}

.category {
  position: absolute;
  width: 100%;
  z-index: 999;
}
.category-link {
  font-size: 14px;
  font-weight: 500;
  color: #27251f;
}
.category-item {
  margin-top: 15px;
  padding: 30px 10px;
  background-color: #f5f5f5;
}
.category-lists {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 100%;
}

.header-hover:hover .menu::before {
  content: "";
  width: 100%;
  position: absolute;
  border-top: 4px solid #ffa0c8;
  left: 0;
  top: 0;
}

.collection-lists {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
}
.collection-item {
  display: flex;
  flex-direction: column;
}
.collection-link--lists {
  margin-bottom: auto;
}
.collection-link {
  font-weight: 600;
  display: inline-block;
}
.collection-link--item, .collection-link {
  padding-bottom: 18px;
  color: #27251f;
}
.collection-link--category {
  color: #27251f;
}

/*# sourceMappingURL=style.css.map */
