.plan {
  padding-top: 80px;
  text-align: center;
  &_title {
    font-weight: 600;
    font-size: 35px;
    color: $black;
  }
  &_desc {
    margin: 20px auto 60px;
    max-width: 555px;
    font-size: 16px;
    color: $black-blur;
  }
  &_lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--item {
      width: calc(33.33% - 33.33px);
      padding: 80px 70px 50px;
      border: 2px solid #dddddd;
      border-radius: 10px;
    }
    &--title {
      padding: 30px 0;
    }
    &--price {
      padding-top: 28px;
    }
  }
  &_lists--item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &_image {
    flex: 1;
  }
  .icon--check {
    padding-right: 20px;
  }
}
