* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  color: #0b132a;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1510px;
  margin: 0 auto;
}

.container {
  max-width: 1195px;
  padding: 46px 15px 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  background-color: transparent;
  padding: 13px 45px;
  border-radius: 100rem;
  font-weight: 600;
  color: #0b132a;
  transition: all 0.2s linear;
}
.button--outline {
  border: none;
}
.button--danger {
  border: 1px solid #f53855;
  color: #f53855;
}
.button--danger:hover {
  background-color: #f53855;
  color: white;
}

.block_lists--item {
  display: flex;
  align-items: center;
  padding-bottom: 21px;
}
.block_lists--item i {
  color: #2fab73;
  font-size: 20px;
  padding-right: 10px;
}
.block_lists--link {
  font-size: 14px;
  color: #4f5665;
}

/**
test code hover image
.bg-image--hover2 {
  position: relative;
  top: 0;
  left: 0;
  background-image: url(https://images.unsplash.com/photo-1656936611703-a1ede070073c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  // display: none;
  min-height: 60vh;
  background-size: cover;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #eaee44, #33d0ff);
    opacity: 0.7;
    z-index: 3;
  }
}
.banne {
  position: relative;
  min-height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1509473332032-f1ce823d92c4?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=3e2410208e8f8a78e4aa3550fddfbb44);
  background-size: cover;
  display: flex;
}
.banne::after {
  content: ''; // ::before and ::after both require content
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #fdfcfc8f, #ffffffa8);
  opacity: 0.7;
}
 */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 89px;
}
.header_logo--link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo--image {
  padding-right: 10px;
}
.header_logo--title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: #0b132a;
}
.header_logo--title span {
  font-weight: 800;
}
.header_lists {
  display: flex;
  margin-left: 75px;
}
.header_lists--item {
  padding-left: 40px;
}
.header_list {
  color: #4f5665;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.25s ease-in-out;
}
.header_list:hover {
  color: #f53855;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #0b132a;
  margin-bottom: 103px;
}
.banner_image {
  transform: scale(1.1);
}
.banner > * {
  width: calc(50% - 20.5px);
}
.banner_info--title {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.banner_info--title span {
  font-weight: 800;
}
.banner_info--desc {
  line-height: 2;
  font-weight: 500;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  margin-bottom: 50px;
  color: #4f5665;
}
.banner .button--started {
  padding: 17.5px 78px;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  background-color: #f53855;
  box-shadow: 0px 36px 35px -12px rgba(245, 56, 85, 0.35);
}
.banner .button--started:hover {
  background-color: white;
  color: #f53855;
}

.info {
  padding: 37.21px 0;
  box-shadow: 0px 40px 70px -20px rgba(11, 19, 42, 0.1);
  border-radius: 10px;
  margin-bottom: 95px;
}
.info_list {
  display: flex;
  justify-content: center;
}
.info_list--item {
  width: 33.33%;
  display: flex;
  justify-content: center;
  padding: 35px 0;
}
.info_list--item:not(:first-child) {
  border-left: 1px solid #eeeff2;
}
.info_list--item:nth-child(2) {
  width: calc(100% - 710px);
}
.info--icon {
  max-height: 55px;
  max-width: 55px;
  padding: 20px;
  color: #f53855;
  background-color: #ffecec;
  border-radius: 10rem;
}
.info_list--title {
  text-align: center;
  margin-left: 36.5px;
  font-size: 20px;
  color: #4f5665;
}
.info_list--title span {
  display: block;
  color: #0b132a;
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 5px;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 1.5;
  margin-bottom: 131px;
}
.feature > * {
  width: calc(50% - 85px);
}
.feature_info--title {
  font-weight: 600;
  font-size: 35px;
  padding-bottom: 20px;
}
.feature_info--desc {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
  color: #4f5665;
}

.plan {
  padding: 80px 0 150px;
  text-align: center;
}
.plan_title {
  font-weight: 600;
  font-size: 35px;
  color: #0b132a;
}
.plan_desc {
  margin: 20px auto 60px;
  max-width: 555px;
  font-size: 16px;
  color: #4f5665;
}
.plan_lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}
.plan_lists--item {
  padding: 80px 70px 50px;
  border: 2px solid #dddddd;
  border-radius: 10px;
}
.plan_lists--title {
  padding: 30px 0;
}
.plan_lists--price {
  padding-top: 28px;
  margin: auto;
}
.plan_lists--item {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 0.2s linear;
}
.plan_lists--item:hover {
  border: 2px solid #f53855;
  background-color: transparent;
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.05);
}
.plan_lists--item:hover .plan--button a {
  background-color: #f53855;
  color: white;
}
.plan .icon--check {
  padding-right: 20px;
}
.plan--button {
  display: block;
  margin: auto auto 0;
  width: max-content;
}
.plan--button span {
  color: #0b132a;
  font-weight: 600;
  font-size: 25px;
}
.plan--button a {
  margin-top: 20px;
  padding: 13px 63px;
  background-color: transparent;
}

.network {
  padding-bottom: 50px;
  text-align: center;
}
.network_title {
  font-size: 35px;
  padding-bottom: 20px;
}
.network_title span {
  display: block;
}
.network_desc {
  font-size: 16px;
  color: #4f5665;
}
.network_desc span {
  font-weight: 600;
}
.network_image {
  padding: 156px 0 36px;
  margin: 0 auto;
}

.brand_links {
  display: flex;
  align-items: center;
}
.brand-item:nth-child(2) {
  margin-left: 56px;
}
.brand-item:nth-child(3) {
  margin-left: 20px;
}
.brand-item:nth-child(4) {
  margin-left: 5px;
}
.brand-item:nth-child(5) {
  margin-left: 60px;
}

.customer {
  text-align: center;
}
.customer_title {
  font-size: 35px;
  font-weight: 600;
  padding-bottom: 20px;
}
.customer_title span {
  display: block;
}
.customer_desc {
  display: block;
  margin-bottom: auto;
  color: #4f5665;
  font-size: 16px;
}
.customer_desc span {
  display: block;
}
.customer_list {
  padding-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
}
.customer_item {
  padding: 30px;
  border: 2px solid #dddddd;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.profile_image {
  width: 50px;
  height: 50px;
  border-radius: 10rem;
}
.profile_item:nth-child(2) {
  font-size: 16px;
  margin-left: 20px;
}
.profile_item:nth-child(2) .profile_title {
  color: #0b132a;
  font-weight: 600;
}
.profile_item:nth-child(2) span {
  display: block;
  font-size: 10px;
  color: #4f5665;
  font-weight: 400;
}
.profile_item:nth-child(3) {
  margin-left: 60px;
}
.profile_item:nth-child(3) .profile_link {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.profile_star {
  margin-left: 10px;
  font-size: 12px;
  color: rgb(235, 212, 13);
  transform: translateY(-20%);
}

/*# sourceMappingURL=style.css.map */
