.banner {
  padding-bottom: 60px;

  &-image {
    background-image: url(//theme.hstatic.net/200000103143/1000799780/14/new_index_slider_1_grande.jpg?v=2624);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    object-fit: contain;
    position: relative;
  }
}
.slick-track {
  .banner-image {
    height: 700px;
    cursor: pointer;
  }
  .banner-link {
    display: block;

    position: absolute;
    bottom: 10%;
    left: 10%;
  }
}
