.header {
  padding: 20px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-logo {
    img {
      max-width: 170px;
      max-height: 35px;
    }
  }
  &-feature {
    // width: calc(50% - 100px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      padding: 10px 20px 10px 45px;
      border: 1px solid #ededed;
      outline: none;
      &::placeholder {
        opacity: 0.5;
      }
    }
    .button--icon {
      position: absolute;
      left: 0;
      font-size: 14px;
      padding: 12px 14px;
      color: $dark;
      opacity: 0.7;
    }
  }
  &-icon {
    font-size: 20px;
    margin-left: 40px;
    color: $pink;
    cursor: pointer;
    i:not(:first-child) {
      margin-left: 25px;
    }
    span {
      padding-left: 5px;
    }
  }
}
