.header {
  padding: 20px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-hover {
    position: fixed;
    background: white;
    top: 0;
    left: 0px;
    right: 0px;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 10px 15px;
    z-index: 99;
  }
  &-logo {
    img {
      max-width: 170px;
      max-height: 35px;
    }
  }
  &-feature {
    // width: calc(50% - 100px);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      padding: 10px 20px 10px 45px;
      border: 1px solid #ededed;
      outline: none;
      &::placeholder {
        opacity: 0.5;
      }
    }
    .button--icon {
      position: absolute;
      left: 0;
      font-size: 14px;
      padding: 10px 14px;
      color: $dark;
      opacity: 0.7;
      border: 1px solid #ededed;
      border-right: none;
      z-index: 1;
    }
  }
  &-icon {
    font-size: 20px;
    margin-left: 40px;
    color: $pink;
    cursor: pointer;
    i:not(:first-child) {
      margin-left: 25px;
    }
    span {
      padding-left: 5px;
    }
  }
}

// search
.form-search {
  position: relative;
}
.search {
  &-input:focus ~ .search-lists {
    display: block;
    top: 37px;
  }
  // &-history {
  //   border-bottom: 1px solid black;
  //   display: none;
  // }
  &-lists {
    width: 100%;
    padding: 14px 70px 10px 47px;
    margin-top: 2px;
    background-color: #ededed;
    left: 0;
    position: absolute;
    z-index: 2;
    display: none;
  }
  &-item {
    padding-bottom: 10px;
  }
  &-link {
    color: $dark;
  }
}
.bg-white {
  background-color: white;
}
.bg-trans {
  background-color: transparent;
}
.hide {
  display: none !important;
}
.bg-white {
  background-color: transparent;
}
